_baks
_tmp
build/workspace
build/*/dist
build/*/build
build/*/build.xml
build/*/nbproject/private
build/*/nbproject/genfiles.properties
build/*/.terminal
client/*/dist
client/*/build
client/*/build.xml
client/*/nbproject/private
platform/*/dist
platform/*/build
platform/*/build.xml
platform/*/nbproject/private
platform/*/*/dist
platform/*/*/build
platform/*/*/build.xml
platform/*/*/nbproject/private
